@font-face {
  font-family: NeueMachinLight;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Light.otf);
  font-weight: 400;
}

@font-face {
  font-family: NeueMachinaReg;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: NeueMachinaBold;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf);
  font-weight: 700;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.light {
  font-family: NeueMachinaLight;
}

.reg {
  font-family: NeueMachinaReg;
}

.bold {
  font-family: NeueMachinaBold;
}

html {
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
}

.f50 {
  font-size: 3.125rem;
}

.f64 {
  font-size: 4rem;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.loading_page {
  position: fixed;
  height: 100vh;
  background: #231f2e;
  width: 100%;
  z-index: 9999999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loading_page .inner_loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.loading_page .inner_loading img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 250px;
  height: auto;
}

input:focus {
  outline: none;
}

.color1 {
  color: #792ff9;
}

.color2 {
  color: #792ff9;
}

.color3 {
  color: #e45364;
}

.bg1 {
  background: #792ff9;
}

.bg2 {
  background: #5324fa;
}

.bg3 {
  background: #e45364;
}

.btn1 {
  -webkit-box-shadow: 1px 1px 1px 2px #3d3d3d4f;
          box-shadow: 1px 1px 1px 2px #3d3d3d4f;
}

.color5 {
  color: #863bf8;
}

.purpleBg {
  background: #863bf8;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 50px;
  background: #fff;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.underlineAbout {
  position: relative;
}

.underlineAbout::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  background: #fff;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.underlineDark {
  position: relative;
}

.underlineDark::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  background: #000;
  bottom: 0%;
  left: 0%;
  z-index: 1;
}

.feature_slider_container {
  background-color: #231f2e;
}

.feature_slider_container .text_content {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header_container {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  left: 0%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_container .menu_dropdown select {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #cecece;
}

.header_container .menu_dropdown select option {
  color: #000;
}

.header_container .menu_dropdown select:focus {
  outline: none;
}

.header_container .inp_container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.header_container .inp_container input {
  background: rgba(255, 255, 255, 0.1);
  width: 220px;
  border-radius: 8px;
}

.header_container .inp_container input:focus {
  outline: none;
}

.header_container .inp_container .search_icon {
  position: absolute;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_container .secondHalf select {
  color: #fff;
}

.header_container .secondHalf select option {
  color: #000;
}

.header_container .secondHalf select:focus {
  outline: none;
}

.header_container .secondHalf .icons_container .icon {
  background: #fff;
}

.header_container .logo_container2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header_container .logo_container2 img {
  height: 20px;
}

.header_container.sticky {
  background-color: #231f2e;
}

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
  position: fixed;
  right: 0%;
  left: 0%;
  bottom: 0%;
  color: white;
  background-color: #5525eb;
  height: 400px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SideBarContainer .logo {
  position: absolute;
  top: 3%;
  left: 3%;
}

.SideBarContainer .logo img {
  width: 120px;
}

.SideBarContainer .secondHalf select {
  color: #fff;
}

.SideBarContainer .secondHalf select option {
  color: #000;
}

.SideBarContainer .secondHalf select:focus {
  outline: none;
}

.SideBarContainer .secondHalf .icons_container .icon {
  background: #fff;
}

.SideBarContainer ul {
  padding-left: 0rem;
}

.SideBarContainer ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 0.4rem 0rem;
  text-align: center;
}

.SideBarContainer ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.SideBarContainer ul li .activeNav::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 10%;
  width: 100%;
  background-color: #007bbc;
  border-radius: 5px;
}

.CrossBTn {
  position: absolute;
  top: 8.2%;
  right: 5.5%;
  cursor: pointer;
}

.SideBarContainer.sticky {
  background-color: #231f2e;
}

/* ==================== SideBAR STYLING END ======================== */
.hero_container {
  background: #792ff9;
  background: -webkit-gradient(linear, left top, right top, color-stop(53%, #792ff9), color-stop(50%, #5324fa));
  background: linear-gradient(90deg, #792ff9 53%, #5324fa 50%);
  height: 700px;
}

.hero_container h1 {
  font-size: 5.4rem;
}

.hero_container .heroText2 {
  left: -20%;
  top: 6.5%;
  max-width: 120px;
}

.about_container {
  background-color: #231f2e;
  width: 100%;
  height: 100%;
  padding: 5rem 0rem 3rem 0rem;
}

.about_container img {
  height: 15px;
  width: auto;
}

.hybrid_container {
  margin-top: -1px;
  background-color: #231f2e;
  padding: 5rem 0rem 3rem 0rem;
  width: 100%;
  height: 100%;
}

.hybrid_container .para {
  max-width: 700px;
}

.hybrid_container .WHO_cont {
  margin-top: 5rem;
}

.hybrid_container .arrowLeft {
  margin-left: 10rem;
  margin-top: -2.4rem;
}

.feature_container {
  background: url(../assets/images/featureBg.svg);
  height: 100%;
  padding: 4rem 0rem 1rem 0rem;
}

.its_all_container {
  margin-top: -6px;
}

.its_all_container .its_all_abs {
  position: absolute;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.its_all_container .its_all_abs h1 {
  max-width: 180px;
}

.its_all_container img {
  width: 100%;
}

.news_container {
  background-color: #231f2e;
  padding: 5rem 0rem 3rem 0rem;
}

.news_container .logo {
  height: 15px;
  width: auto;
}

.news_container .newsSliderContainer .news_card {
  width: 200px;
}

.partner_container {
  padding: 5rem 0rem 8rem 0rem;
}

.partner_container h1 {
  margin-left: -3px;
}

.partner_container .underText {
  margin-top: -1rem;
}

.newsletter_container {
  background: #231f2e;
  padding: 2rem 0rem;
}

.newsletter_container input {
  width: 280px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 10px;
  border: none;
  height: 100;
  padding: 0.2rem 1rem;
}

.newsletter_container button {
  background: #863bf8;
}

.who_container {
  background: #231f2e;
}

.WHOSlide1,
.WHOSlide2,
.WHOSlide3,
.WHOSlide4 {
  height: 450px;
  width: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.WHOSlide1 .icons,
.WHOSlide2 .icons,
.WHOSlide3 .icons,
.WHOSlide4 .icons {
  color: #fff;
  padding: 0.6rem;
}

.WHOSlide1 .icons .icon2,
.WHOSlide2 .icons .icon2,
.WHOSlide3 .icons .icon2,
.WHOSlide4 .icons .icon2 {
  float: left;
}

.WHOSlide1 .icons .icon1,
.WHOSlide2 .icons .icon1,
.WHOSlide3 .icons .icon1,
.WHOSlide4 .icons .icon1 {
  float: right;
}

.WHOSlide1 .text_content,
.WHOSlide2 .text_content,
.WHOSlide3 .text_content,
.WHOSlide4 .text_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.WHOSlide1 .text_content .inner_text,
.WHOSlide2 .text_content .inner_text,
.WHOSlide3 .text_content .inner_text,
.WHOSlide4 .text_content .inner_text {
  max-width: 200px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.WHOSlide1 .underlineAbout,
.WHOSlide2 .underlineAbout,
.WHOSlide3 .underlineAbout,
.WHOSlide4 .underlineAbout {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding-bottom: 1rem;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.WHOSlide1 .WHO_detail,
.WHOSlide2 .WHO_detail,
.WHOSlide3 .WHO_detail,
.WHOSlide4 .WHO_detail {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.WHOSlide1 .WHO_detail input,
.WHOSlide2 .WHO_detail input,
.WHOSlide3 .WHO_detail input,
.WHOSlide4 .WHO_detail input {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 0rem 1rem;
  color: #fff;
}

.WHOSlide1 .WHO_detail input:focus,
.WHOSlide2 .WHO_detail input:focus,
.WHOSlide3 .WHO_detail input:focus,
.WHOSlide4 .WHO_detail input:focus {
  outline: none;
}

.WHOSlide1 .WHO_detail input::-webkit-input-placeholder,
.WHOSlide2 .WHO_detail input::-webkit-input-placeholder,
.WHOSlide3 .WHO_detail input::-webkit-input-placeholder,
.WHOSlide4 .WHO_detail input::-webkit-input-placeholder {
  color: #fff;
}

.WHOSlide1 .WHO_detail input:-ms-input-placeholder,
.WHOSlide2 .WHO_detail input:-ms-input-placeholder,
.WHOSlide3 .WHO_detail input:-ms-input-placeholder,
.WHOSlide4 .WHO_detail input:-ms-input-placeholder {
  color: #fff;
}

.WHOSlide1 .WHO_detail input::-ms-input-placeholder,
.WHOSlide2 .WHO_detail input::-ms-input-placeholder,
.WHOSlide3 .WHO_detail input::-ms-input-placeholder,
.WHOSlide4 .WHO_detail input::-ms-input-placeholder {
  color: #fff;
}

.WHOSlide1 .WHO_detail input::placeholder,
.WHOSlide2 .WHO_detail input::placeholder,
.WHOSlide3 .WHO_detail input::placeholder,
.WHOSlide4 .WHO_detail input::placeholder {
  color: #fff;
}

.WHOSlide1 .WHO_detail button,
.WHOSlide2 .WHO_detail button,
.WHOSlide3 .WHO_detail button,
.WHOSlide4 .WHO_detail button {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 10px;
}

.WHOSlide1 {
  background: #541dec;
}

.WHOSlide2 {
  background: #eb5565;
}

.WHOSlide3 {
  background: #ebab54;
}

.WHOSlide4 {
  background: #17bb6f;
}

.min_slide {
  width: 100px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.WHOSlide1.min_slide,
.WHOSlide2.min_slide,
.WHOSlide3.min_slide,
.WHOSlide4.min_slide,
.WHOSlide5.min_slide {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.WHOSlide1.min_slide .text_content,
.WHOSlide2.min_slide .text_content,
.WHOSlide3.min_slide .text_content,
.WHOSlide4.min_slide .text_content,
.WHOSlide5.min_slide .text_content {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.WHOSlide1.min_slide .text_content .inner_text,
.WHOSlide2.min_slide .text_content .inner_text,
.WHOSlide3.min_slide .text_content .inner_text,
.WHOSlide4.min_slide .text_content .inner_text,
.WHOSlide5.min_slide .text_content .inner_text {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.WHOSlide1.min_slide .text_content .inner_text .underlineAbout,
.WHOSlide2.min_slide .text_content .inner_text .underlineAbout,
.WHOSlide3.min_slide .text_content .inner_text .underlineAbout,
.WHOSlide4.min_slide .text_content .inner_text .underlineAbout,
.WHOSlide5.min_slide .text_content .inner_text .underlineAbout {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  padding-bottom: 0rem;
}

.WHOSlide1.min_slide .text_content .inner_text h6,
.WHOSlide2.min_slide .text_content .inner_text h6,
.WHOSlide3.min_slide .text_content .inner_text h6,
.WHOSlide4.min_slide .text_content .inner_text h6,
.WHOSlide5.min_slide .text_content .inner_text h6 {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-right: 20px;
  margin-bottom: 0px;
}

.WHOSlide1.min_slide .text_content .inner_text h1,
.WHOSlide2.min_slide .text_content .inner_text h1,
.WHOSlide3.min_slide .text_content .inner_text h1,
.WHOSlide4.min_slide .text_content .inner_text h1,
.WHOSlide5.min_slide .text_content .inner_text h1 {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-bottom: 0px;
}

.WHOSlide1.min_slide .text_content h1,
.WHOSlide2.min_slide .text_content h1,
.WHOSlide3.min_slide .text_content h1,
.WHOSlide4.min_slide .text_content h1,
.WHOSlide5.min_slide .text_content h1 {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-size: 2rem;
}

.footer_container {
  background: #5525eb;
  padding: 5rem 0rem 2.5rem 0rem;
}

@media screen and (min-width: 1500px) {
  .page_container2 {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1100px) {
  .hero_container h1 {
    font-size: 4.8rem;
  }
  .f50 {
    font-size: 3rem;
  }
  .SideBarContainer h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 992px) {
  .hero_container h1 {
    font-size: 4.4rem;
  }
  .f50 {
    font-size: 2.8rem;
  }
  .SideBarContainer h2 {
    font-size: 1.4rem;
  }
  .its_all_container .its_all_abs h1 {
    font-size: 4rem;
  }
  .footer_container {
    padding: 3rem 0rem 2.5rem 0rem;
  }
}

@media screen and (max-width: 768px) {
  .hero_container {
    background: url(../assets/images/heroM.svg);
    width: 100%;
    background-size: cover;
  }
  .hero_container h1 {
    font-size: 4rem;
  }
  .f50 {
    font-size: 2.2rem;
  }
  .its_all_container .its_all_abs h1 {
    font-size: 3.5rem;
  }
  .newsletter_container {
    width: 100%;
  }
  .newsletter_container .inp_container {
    width: 100%;
  }
  .newsletter_container input {
    width: 93%;
    height: 30px;
  }
  .footer_container .f14 {
    font-size: 1.1rem;
  }
  .footer_container button {
    font-size: 1.2rem;
  }
  .its_all_container img {
    height: 450px;
    width: auto;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .newsSliderContainer .news_card button {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .hero_container {
    height: 75vh;
  }
  .hero_container button {
    font-size: 1.2rem;
    margin-bottom: 5rem;
    width: 150px;
    margin-left: -50px;
  }
  .hero_container h1 {
    font-size: 4rem;
    display: none;
  }
  .f50 {
    font-size: 2.5rem;
  }
  .SideBarContainer {
    height: 500px;
    padding-top: 2.5rem;
  }
  .SideBarContainer h2 {
    font-size: 1.8rem;
  }
  .header_container {
    height: 65px;
  }
  .feature_container button {
    font-size: 1.5rem;
  }
  .its_all_container .its_all_abs h1 {
    font-size: 3rem;
  }
  .partner_container {
    padding: 5rem 0rem 3rem 0rem;
  }
  .newsletter_container p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */