@font-face {
  font-family: NeueMachinLight;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Light.otf);
  font-weight: 400;
}

@font-face {
  font-family: NeueMachinaReg;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Regular.otf);
  font-weight: 500;
}

@font-face {
  font-family: NeueMachinaBold;
  src: url(../assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf);
  font-weight: 700;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.light {
  font-family: NeueMachinaLight;
}

.reg {
  font-family: NeueMachinaReg;
}

.bold {
  font-family: NeueMachinaBold;
}

html {
  font-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

html body {
  overflow-x: hidden;
}

@media screen and (max-width: 992px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 668px) {
  html {
    font-size: 92%;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 76%;
  }
}

.f8 {
  font-size: 0.5rem;
}

.f10 {
  font-size: 0.625rem;
}

.f12 {
  font-size: 0.75rem;
}

.f14 {
  font-size: 0.875rem;
}

.f15 {
  font-size: 0.938rem;
}

.f16 {
  font-size: 1rem;
}

.f18 {
  font-size: 1.125rem;
}

.f20 {
  font-size: 1.25rem;
}

.f24 {
  font-size: 1.5rem;
}

.f34 {
  font-size: 2.125rem;
}

.f30 {
  font-size: 1.875rem;
}

.f35 {
  font-size: 2.125rem;
}

.f50 {
  font-size: 3.125rem;
}

.f64 {
  font-size: 4rem;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.color1 {
  color: #792ff9;
}

.color2 {
  color: #792ff9;
}

.color3 {
  color: #e45364;
}

.bg1 {
  background: #792ff9;
}

.bg2 {
  background: #5324fa;
}

.bg3 {
  background: #e45364;
}

.btn1 {
  -webkit-box-shadow: 1px 1px 1px 2px #3d3d3d4f;
          box-shadow: 1px 1px 1px 2px #3d3d3d4f;
}

.color5 {
  color: #863bf8;
}

.purpleBg {
  background: #863bf8;
}

.page_container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 50px;
  background: #fff;
  bottom: 0%;
  left: 0%;
  z-index: 9999;
}

.underlineAbout {
  position: relative;
}

.underlineAbout::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 20px;
  background: #fff;
  bottom: 0%;
  left: 0%;
  z-index: 9999;
}

.header_container {
  height: 80px;
  position: fixed;
  width: 100%;
  left: 0%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header_container .menu_dropdown select {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #cecece;
}

.header_container .menu_dropdown select option {
  color: #000;
}

.header_container .menu_dropdown select:focus {
  outline: none;
}

.header_container .inp_container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.header_container .inp_container input {
  background: rgba(255, 255, 255, 0.1);
  width: 220px;
  border-radius: 8px;
}

.header_container .inp_container input:focus {
  outline: none;
}

.header_container .inp_container .search_icon {
  position: absolute;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header_container .secondHalf select {
  color: #fff;
}

.header_container .secondHalf select option {
  color: #000;
}

.header_container .secondHalf select:focus {
  outline: none;
}

.header_container .secondHalf .icons_container .icon {
  background: #fff;
}

.header_container.sticky {
  background-color: #231f2e;
  z-index: 9999;
}

.hero_container {
  background: #792ff9;
  background: -webkit-gradient(linear, left top, right top, color-stop(53%, #792ff9), color-stop(50%, #5324fa));
  background: linear-gradient(90deg, #792ff9 53%, #5324fa 50%);
  height: 700px;
}

.hero_container h1 {
  font-size: 5.4rem;
}

.hero_container .heroText2 {
  left: -20%;
  top: 6.5%;
  max-width: 120px;
}

.about_container {
  background-color: #231f2e;
  width: 100%;
  height: 100%;
  padding: 5rem 0rem 3rem 0rem;
}

.about_container img {
  height: 15px;
  width: auto;
}

.hybrid_container {
  background-color: #231f2e;
  padding: 5rem 0rem 3rem 0rem;
  width: 100%;
  height: 100%;
}

.hybrid_container .para {
  max-width: 700px;
}

.hybrid_container .WHO_cont {
  margin-top: 5rem;
}

.feature_container {
  background: url(../assets/images/featureBg.svg);
  height: 100%;
  padding: 4rem 0rem 1rem 0rem;
}

.its_all_abs {
  position: absolute;
  left: 45%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.its_all_abs h1 {
  max-width: 180px;
}

.news_container {
  background-color: #231f2e;
  padding: 5rem 0rem 3rem 0rem;
}

.news_container img {
  height: 15px;
  width: auto;
}
/*# sourceMappingURL=style.css.map */