@font-face {
	font-family: NeueMachinLight;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Light.otf);
	font-weight: 400;
}

@font-face {
	font-family: NeueMachinaReg;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Regular.otf);
	font-weight: 500;
}

@font-face {
	font-family: NeueMachinaBold;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf);
	font-weight: 700;
}

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

.light {
	font-family: NeueMachinaLight;
}

.reg {
	font-family: NeueMachinaReg;
}

.bold {
	font-family: NeueMachinaBold;
}

// VARIABLES START
$color1: #792ff9;
$color2: #5324fa;
$color3: #e45364;
$color4: #231f2e;
$color5: #863bf8;
$color6: #5525eb;
// VARIABLES END

// GLOBAL CLASSES START
html {
	font-size: 100%;
	width: 100%;
	overflow-x: hidden;
	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}

@media screen and (max-width: 575px) {
	html {
		font-size: 88%;
	}
}

@media screen and (max-width: 475px) {
	html {
		font-size: 84%;
	}
}

@media screen and (max-width: 380px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 280px) {
	html {
		font-size: 76%;
	}
}

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
}

.f50 {
	font-size: 3.125rem;
}

.f64 {
	font-size: 4rem;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

input {
	&:focus {
		outline: none;
	}
}

// COLORS
.color1 {
	color: $color1;
}

.color2 {
	color: $color1;
}

.color3 {
	color: $color3;
}

.bg1 {
	background: $color1;
}

.bg2 {
	background: $color2;
}

.bg3 {
	background: $color3;
}

.btn1 {
	box-shadow: 1px 1px 1px 2px #3d3d3d4f;
}

.color5 {
	color: $color5;
}

.purpleBg {
	background: $color5;
}

.page_container {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

.pointer {
	cursor: pointer;
}

.underline {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 6px;
		width: 50px;
		background: #fff;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

.underlineAbout {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 4px;
		width: 20px;
		background: #fff;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

.underlineDark {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 4px;
		width: 20px;
		background: #000;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

// FEATURE SLIDER START
.feature_slider_container {
	background-color: $color4;

	.text_content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
// FEATURE SLIDER END

// HEADER START
.header_container {
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 9999;
	left: 0%;
	transition: 0.6s;

	.menu_dropdown {
		select {
			background: rgba(255, 255, 255, 0.2);
			border: none;
			color: #cecece;
			option {
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.inp_container {
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		input {
			background: rgba(255, 255, 255, 0.1);
			width: 220px;
			border-radius: 8px;
			&:focus {
				outline: none;
			}
		}
		.search_icon {
			position: absolute;
			right: 3%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.secondHalf {
		select {
			color: #fff;
			option {
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
		.icons_container {
			.icon {
				background: #fff;
			}
		}
	}

	.logo_container2 {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		img {
			height: 20px;
		}
	}
}

// STICKY START
.header_container.sticky {
	background-color: $color4;
}
// HEADER END

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: white;
	background-color: $color6;
	height: 400px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;

	.logo {
		position: absolute;
		top: 3%;
		left: 3%;

		img {
			width: 120px;
		}
	}

	.secondHalf {
		select {
			color: #fff;
			option {
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
		.icons_container {
			.icon {
				background: #fff;
			}
		}
	}
}

.SideBarContainer ul {
	padding-left: 0rem;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	padding: 0.4rem 0rem;
	text-align: center;

	a {
		color: #fff;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;
	}
	.activeNav::after {
		content: "";
		position: absolute;
		left: 0%;
		bottom: 0%;
		height: 10%;
		width: 100%;
		background-color: #007bbc;
		border-radius: 5px;
	}
}

.CrossBTn {
	position: absolute;
	top: 8.2%;
	right: 5.5%;
	cursor: pointer;
}

.SideBarContainer.sticky {
	background-color: $color4;
}
/* ==================== SideBAR STYLING END ======================== */

// HERO START
.hero_container {
	background: rgb(121, 47, 249);
	background: linear-gradient(90deg, #792ff9 53%, #5324fa 50%);
	height: 700px;

	h1 {
		font-size: 5.4rem;
	}
	.heroText2 {
		left: -20%;
		top: 6.5%;
		max-width: 120px;
	}
}
// HERO END

// ABOUT US START
.about_container {
	background-color: $color4;
	width: 100%;
	height: 100%;
	padding: 5rem 0rem 3rem 0rem;

	img {
		height: 15px;
		width: auto;
	}
}
// ABOUT US END

// HYBRID START
.hybrid_container {
	margin-top: -1px;
	background-color: $color4;
	padding: 5rem 0rem 3rem 0rem;
	width: 100%;
	height: 100%;

	.para {
		max-width: 700px;
	}

	.WHO_cont {
		margin-top: 5rem;
	}

	.arrowLeft {
		margin-left: 10rem;
		margin-top: -2.4rem;
	}
}
// HYBRID END

// FEATURE START
.feature_container {
	background: url(../assets/images/featureBg.svg);
	height: 100%;
	padding: 4rem 0rem 1rem 0rem;
}
// FEATURE END

// ABOUT FUN START
.its_all_container {
	margin-top: -6px;

	.its_all_abs {
		position: absolute;
		left: 45%;
		top: 50%;
		transform: translate(-50%, -50%);

		h1 {
			max-width: 180px;
		}
	}

	img {
		width: 100%;
	}
}
// ABOUT FUN END

// NEWS START
.news_container {
	background-color: $color4;
	padding: 5rem 0rem 3rem 0rem;

	.logo {
		height: 15px;
		width: auto;
	}

	.newsSliderContainer {
		.news_card {
			width: 200px;
		}
	}
}
// NEWS END

// PARTNER START
.partner_container {
	padding: 5rem 0rem 8rem 0rem;

	h1 {
		margin-left: -3px;
	}

	.underText {
		margin-top: -1rem;
	}
}
// PARTNER END

// NEWSLETTER START
.newsletter_container {
	background: #231f2e;
	padding: 2rem 0rem;

	input {
		width: 280px;
		background: rgba(255, 255, 255, 0.1);
		color: #fff;
		border-radius: 10px;
		border: none;
		height: 100;
		padding: 0.2rem 1rem;
	}

	button {
		background: $color5;
	}
}
// NEWSLETTER END

// FOOTER START
.footer_container {
	background: $color6;
	padding: 5rem 0rem 2.5rem 0rem;
}
// FOOTER END

// MEDIA QUERIES START
@media screen and (min-width: 1500px) {
	.page_container2 {
		max-width: 1130px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1100px) {
	.hero_container h1 {
		font-size: 4.8rem;
	}
	.f50 {
		font-size: 3rem;
	}
	.SideBarContainer h2 {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 992px) {
	.hero_container h1 {
		font-size: 4.4rem;
	}
	.f50 {
		font-size: 2.8rem;
	}
	.SideBarContainer h2 {
		font-size: 1.4rem;
	}
	.its_all_container .its_all_abs h1 {
		font-size: 4rem;
	}
	.footer_container {
		padding: 3rem 0rem 2.5rem 0rem;
	}
}

@media screen and (max-width: 768px) {
	.hero_container {
		background: url(../assets/images/heroM.svg);
		width: 100%;
		background-size: cover;
	}
	.hero_container h1 {
		font-size: 4rem;
	}
	.f50 {
		font-size: 2.2rem;
	}
	.its_all_container .its_all_abs h1 {
		font-size: 3.5rem;
	}
	.newsletter_container {
		width: 100%;

		.inp_container {
			width: 100%;
		}
	}
	.newsletter_container input {
		width: 93%;
		height: 30px;
	}
	.footer_container .f14 {
		font-size: 1.1rem;
	}
	.footer_container button {
		font-size: 1.2rem;
	}
	.its_all_container {
		img {
			height: 450px;
			width: auto;
			object-position: center;
			object-fit: cover;
		}
	}
	.newsSliderContainer {
		.news_card {
			button {
				width: 100%;
				text-align: center;
			}
		}
	}
}

@media screen and (max-width: 575px) {
	.hero_container {
		height: 75vh;

		button {
			font-size: 1.2rem;
			margin-bottom: 5rem;
			width: 150px;
			margin-left: -50px;
		}
	}
	.hero_container h1 {
		font-size: 4rem;
		display: none;
	}
	.f50 {
		font-size: 2.5rem;
	}
	.SideBarContainer {
		height: 500px;
		padding-top: 2.5rem;
	}
	.SideBarContainer h2 {
		font-size: 1.8rem;
	}
	.header_container {
		height: 65px;
	}
	.feature_container {
		button {
			font-size: 1.5rem;
		}
	}
	.its_all_container .its_all_abs h1 {
		font-size: 3rem;
	}
	.partner_container {
		padding: 5rem 0rem 3rem 0rem;
	}
	.newsletter_container {
		p {
			font-size: 1.5rem;
		}
	}
}
// MEDIA QUERIES ENDp

// ANIMATION START
.about {
	$cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
	$transition: 0.6s $cubic;
	$size: 40px;
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 10px;
	width: $size;
	height: $size;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	transition: all 0.2s ease;

	.bg_links {
		width: $size;
		height: $size;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(#000000, 0.2);
		border-radius: 100%;
		backdrop-filter: blur(5px);
		position: absolute;
	}

	.logo {
		width: $size;
		height: $size;
		z-index: 9;
		background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: 10px 7px;
		opacity: 0.9;
		transition: all 1s 0.2s ease;
		bottom: 0;
		right: 0;
	}

	.social {
		opacity: 0;
		right: 0;
		bottom: 0;

		.icon {
			width: 100%;
			height: 100%;
			background-size: 20px;
			background-repeat: no-repeat;
			background-position: center;
			background-color: transparent;
			display: flex;
			transition: all 0.2s ease, background-color 0.4s ease;
			opacity: 0;
			border-radius: 100%;
		}

		&.portfolio {
			transition: all 0.8s ease;

			.icon {
				background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
			}
		}

		&.dribbble {
			transition: all 0.3s ease;
			.icon {
				background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
			}
		}

		&.linkedin {
			transition: all 0.8s ease;
			.icon {
				background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
			}
		}
	}

	&:hover {
		width: 105px;
		height: 105px;
		transition: all $transition;

		.logo {
			opacity: 1;
			transition: all 0.6s ease;
		}

		.social {
			opacity: 1;

			.icon {
				opacity: 0.9;
			}

			&:hover {
				background-size: 28px;
				.icon {
					background-size: 65%;
					opacity: 1;
				}
			}

			&.portfolio {
				right: 0;
				bottom: calc(100% - 40px);
				transition: all 0.3s 0s $cubic;
				.icon {
					&:hover {
						background-color: #698fb7;
					}
				}
			}

			&.dribbble {
				bottom: 45%;
				right: 45%;
				transition: all 0.3s 0.15s $cubic;
				.icon {
					&:hover {
						background-color: #ea4c89;
					}
				}
			}

			&.linkedin {
				bottom: 0;
				right: calc(100% - 40px);
				transition: all 0.3s 0.25s $cubic;
				.icon {
					&:hover {
						background-color: #0077b5;
					}
				}
			}
		}
	}
}

@import url("https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow", sans-serif;

/*
$bg-01: #364e68;
$bg-02: #446d8c;
$bg-03: #5788a0;
$bg-04: #73a5b5;
*/

$bg-01: #2d3561;
$bg-02: #c05c7e;
$bg-03: #f3826f;
$bg-04: #ffb961;

@mixin md {
	@media screen and (max-width: 1023px) {
		@content;
	}
}

@mixin sm {
	@media screen and (max-width: 767px) {
		@content;
	}
}

ul {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
	color: white;
}

/* Navigation */
nav {
	@include sm {
		height: 60px;
		padding: 0 20px;
	}

	/* Logo */
	.home {
		font-size: 20px;
		font-weight: 600;
		color: $bg-02;
		transition: all 0.4s ease;

		&:hover {
			opacity: 0.5;
		}
	}

	/* Icons */
	.icons {
		display: flex;

		/* Icon Menu Hamburguer */
		.icon-menu {
			display: flex;
			width: 30px;
			height: 30px;
			z-index: 2;
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			padding: 5px;

			span {
				background-color: $bg-02;
				width: 30px;
				height: 3px;
				position: absolute;
				display: flex;
				justify-content: flex-end;
				transition: all 0.2s ease;
				right: 0;
				border-radius: 5px;

				&:before,
				&:after {
					position: absolute;
					content: "";
					width: 100%;
					height: 100%;
					background-color: $bg-02;
					border-radius: 5px;
				}

				&:before {
					transform: translateY(-10px);
					transition: all 0.3s 0.1s ease;
				}
				&:after {
					transform: translateY(10px);
					transition: all 0.3s 0.2s ease;
				}
			}

			&:hover {
				span {
					width: 30px;

					&:before {
						width: 25px;
					}

					&:after {
						width: 20px;
					}
				}
			}

			/* Icon Close */
			&.icon-closed {
				justify-content: center;

				span {
					background-color: white;
					justify-content: center;
					width: 0px;
					right: initial;
					opacity: 0.5;
					transition: all 0.6s ease;

					&:before,
					&:after {
						width: 30px;
						background-color: white;
					}

					&:before {
						transform: rotate(45deg);
					}
					&:after {
						transform: rotate(-45deg);
					}
				}

				&:hover {
					span {
						width: 0;
						opacity: 1;

						@include sm {
							&:before {
								transform: rotate(45deg);
							}
							&:after {
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
		}

		/* Secondary Icons */
		.secondary-icons {
			display: flex;
			flex-wrap: wrap;

			.icon-second {
				width: 30px;
				height: 30px;
				margin: 0 10px;
				cursor: pointer;
				transition: all 0.3s ease;
				padding: 5px;

				@include sm {
					margin: 0 5px;
				}

				&:last-child {
					margin-right: 30px;
					@include sm {
						margin-right: 15px;
					}
				}

				&:hover {
					transform: translateY(-5px);
					opacity: 0.5;
					@include sm {
						transform: translateY(0px);
						opacity: 1;
					}
				}
			}
		}
	}

	/* Main Nav */
	.menu {
		// display: none;

		/* Open Menu */
		&.open {
			display: flex;
			z-index: 3;
			overflow: hidden;

			/* Menu Open - Main Link */
			.menu-link {
				width: 25%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				transition: all 0.4s ease-in-out;
				animation: menu 0.6s ease forwards;
				height: 100vh;
				position: relative;

				@keyframes menu {
					0% {
						height: 0;
						transform: translatey(-50%);
					}
					100% {
						height: 100vh;
						transform: translatey(0%);
					}
				}

				&:nth-child(1) {
					background-color: $bg-01;
					animation-duration: 0.6s;
				}
				&:nth-child(2) {
					background-color: $bg-02;
					animation-duration: 0.8s;
				}
				&:nth-child(3) {
					background-color: $bg-03;
					animation-duration: 1s;
				}
				&:nth-child(4) {
					background-color: $bg-04;
					animation-duration: 1.2s;
				}

				/* Main Link - text */
				.text-item {
					color: white;
					text-transform: uppercase;
					font-weight: 800;
					font-size: 40px;
					opacity: 0.3;
					width: 100%;
					height: 20%;
					letter-spacing: 5px;
					transform: rotate(-90deg) translateX(0px);
					transition: all 0.4s 0.2s ease-in-out, letter-spacing 0.2s ease-in,
						opacity 0.2s ease-in;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					transform-origin: center;
					animation: text-in 0.6s ease;
					position: absolute;

					@include sm {
						transform: rotate(0deg);
						font-size: 30px;
					}

					@keyframes text-in {
						0% {
							opacity: 0;
						}

						20% {
							opacity: 0;
						}

						100% {
							opacity: 0.3;
						}
					}

					.icon {
						position: absolute;
						display: flex;
						width: 30px;
						height: 30px;
						opacity: 0;
						transform: translateY(0px);
						transition: all 0.4s ease-in-out;
						background-image: url("https://rafaelavlucas.github.io/assets/icons/white/icon-54.svg");

						@include sm {
							opacity: 0.5;
							transform: translateY(40px);
						}
					}
				}

				/* Sub Menu */
				.submenu {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0 40px;
					box-sizing: border-box;
					opacity: 0;
					z-index: -1;
					transition: all 0.6s ease-in-out;
					height: 0%;
					width: 100%;
					background-color: rgba(255, 255, 255, 0.1);
					bottom: 0;
					transform: translateY(50%);
					position: absolute;

					@include sm {
						padding: 0 5%;
					}

					.sub-item {
						// display: none;
						margin: 10px 0;
						color: white;
						text-transform: uppercase;
						letter-spacing: 2px;
						font-size: 20px;
						font-weight: 600;
						position: relative;
						width: fit-content;
						cursor: pointer;
						padding: 5px 15px;

						@include sm {
							font-size: 16px;
						}

						&:after {
							content: "";
							height: 0%;
							width: 3px;
							background-color: white;
							opacity: 0.3;
							position: absolute;
							top: 0;
							left: 0;
							transition: height 0.4s 0.3s ease, width 0.4s ease;
						}

						&:hover {
							&:after {
								width: 100%;
								height: 100%;
								transition: height 0.4s ease, width 0.4s 0.3s ease;
							}
						}
					}
				}

				/* Menu Links - Hover */
				&:hover {
					width: 50%;
					transition: all 0.4s ease-in-out;

					.text-item {
						height: 50%;
						transform: rotate(0deg) translateX(0px);
						font-size: 30px;
						opacity: 1;
						letter-spacing: 10px;

						.icon {
							opacity: 1;
							transform: translateY(40px);
							transition: all 0.3s 0.4s ease-in-out;
						}

						@include sm {
							width: 100%;
							font-size: 30px;
							opacity: 0.3;
							letter-spacing: 5px;
						}
					}

					/* When Click to Open Sub Menu */
					&.active {
						@include sm {
							height: 80vh;
						}

						.text-item {
							transform: rotate(0deg) translateX(0px) translateY(-50%);
							transform-origin: center center;
							transition: all 0.6s ease-in-out;
							@include sm {
								height: 20%;
								transform: translateY(-180%);
							}

							.icon {
								transition: all 0.3s ease-in-out;
								transform: translateY(40px) rotate(-180deg);
							}
						}

						.submenu {
							transform: translateY(0);
							height: 50%;
							z-index: 1;
							opacity: 1;
							bottom: 0;

							@include sm {
								height: 70%;
							}

							.sub-item {
								display: flex;
								animation: submenu 1s ease forwards;
								z-index: 2;

								@keyframes submenu {
									0% {
										transform: translatex(50px) rotate(5-deg);
										opacity: 0;
									}

									50% {
										transform: translatex(50px) rotate(-5deg);
										opacity: 0;
									}
									100% {
										opacity: 1;
										transform: translatex(0px) rotate(0deg);
									}
								}

								&:nth-child(1) {
									animation-duration: 1s;
								}
								&:nth-child(2) {
									animation-duration: 1.2s;
								}
								&:nth-child(3) {
									animation-duration: 1.4s;
								}
							}
						}
					}
				}

				@include sm {
					width: 100%;
					height: 25%;
					animation: menu-mobile 0.6s ease forwards;
					transform: translatey(0%);
					right: 0;

					@keyframes menu-mobile {
						0% {
							transform: translateX(200%);
						}
						100% {
							transform: translateX(0%);
						}
					}

					&:hover {
						width: 100%;
					}
				}
			}

			@include sm {
				height: 100vh;
				flex-direction: column;
			}
		}

		/* Animation - Close */
		&.close {
			.menu-link {
				animation: menu-close 1s ease forwards;

				@keyframes menu-close {
					0% {
						height: 100vh;
					}
					100% {
						height: 0;
					}
				}

				.text-item {
					animation: text-out 0.6s ease forwards;

					@keyframes text-out {
						0% {
							opacity: 0.3;
						}

						80% {
							opacity: 0;
						}

						100% {
							opacity: 0;
						}
					}
				}
			}
		}
	}
}

article {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: $bg-02;
	z-index: -1;
	opacity: 0.4;
	transition: all 0.4s ease;
	width: 80%;
	h1 {
		font-size: 20px;
		font-weight: 500;
	}

	p {
		color: $bg-03;
	}

	&:hover {
		opacity: 1;
	}
}
// ANIMATION END
