@font-face {
	font-family: NeueMachina;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Black.otf);
	font-weight: 500;
}

@font-face {
	font-family: NeueMachina;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Light.otf);
	font-weight: 400;
}

@font-face {
	font-family: NeueMachina;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Regular.otf);
	font-weight: 500;
}

@font-face {
	font-family: NeueMachina;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf);
	font-weight: 700;
}

@font-face {
	font-family: NeueMachina;
	src: url(../assets/fonts/NeueMachina/NeueMachina-Ultralight.otf);
	font-weight: 300;
}

// SPACE MONO
@font-face {
	font-family: spaceMono;
	src: url(../assets/fonts/Space_Mono/SpaceMono-Bold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: spaceMono;
	src: url(../assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: spaceMono;
	src: url(../assets/fonts/Space_Mono/SpaceMono-Italic.ttf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: spaceMono;
	src: url(../assets/fonts/Space_Mono/SpaceMono-Regular.ttf);
	font-weight: 500;
}

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

.NeueMachina {
	font-family: NeueMachina;
}

.spaceMono {
	font-family: spaceMono;
}

// VARIABLES START
$color1: #792ff9;
$color2: #5324fa;
$color3: #e45364;
$color4: #231f2e;
$color5: #863bf8;
$color6: #5525eb;
$color7: #5e23ec;
// VARIABLES END

// GLOBAL CLASSES START
html {
	font-size: 100%;
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: auto !important;

	body {
		overflow-x: hidden;
	}
}

@media screen and (max-width: 992px) {
	html {
		font-size: 100%;
	}
}

@media screen and (max-width: 668px) {
	html {
		font-size: 92%;
	}
}

@media screen and (max-width: 575px) {
	html {
		font-size: 88%;
	}
}

@media screen and (max-width: 475px) {
	html {
		font-size: 84%;
	}
}

@media screen and (max-width: 380px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 280px) {
	html {
		font-size: 76%;
	}
}

.f8 {
	font-size: 0.5rem;
}

.f10 {
	font-size: 0.625rem;
}

.f12 {
	font-size: 0.75rem;
}

.f14 {
	font-size: 0.875rem;
}

.f15 {
	font-size: 0.938rem;
}

.f16 {
	font-size: 1rem;
}

.f18 {
	font-size: 1.125rem;
}

.f20 {
	font-size: 1.25rem;
}

.f24 {
	font-size: 1.5rem;
}

.f34 {
	font-size: 2.125rem;
}

.f30 {
	font-size: 1.875rem;
}

.f35 {
	font-size: 2.125rem;
}

.f50 {
	font-size: 3.125rem;
}

.f64 {
	font-size: 4rem;
}

.fw400 {
	font-weight: 400;
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.fw800 {
	font-weight: 800;
}

.fw900 {
	font-weight: 900;
}

.loading_page {
	position: fixed;
	height: 100vh;
	background: $color4;
	width: 100%;
	z-index: 9999999;
	transition: 0.5s;

	.inner_loading {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: 0.5s;

		img {
			transition: 0.5s;
			width: 250px;
			height: auto;
		}
	}
}

input {
	&:focus {
		outline: none;
	}
}

// COLORS
.color1 {
	color: $color1;
}

.color2 {
	color: $color1;
}

.color3 {
	color: $color3;
}

.bg1 {
	background: $color1;
}

.bg2 {
	background: $color2;
}

.bg3 {
	background: $color3;
}

.btn1 {
	box-shadow: 1px 1px 1px 2px #3d3d3d4f;
}

.btnS {
	box-shadow: 3px 3px 2px rgba(27, 27, 27, 0.445);
}

.color5 {
	color: $color5;
}

.purpleBg {
	background: $color5;
}

.page_container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.pointer {
	cursor: pointer;
}

.underline {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 6px;
		width: 50px;
		background: #fff;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

.underlineAbout {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 4px;
		width: 20px;
		background: #fff;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

.underlineDark {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		height: 4px;
		width: 20px;
		background: #000;
		bottom: 0%;
		left: 0%;
		z-index: 1;
	}
}

// FEATURE SLIDER START
.feature_slider_container {
	background-color: $color4;
	min-width: 100%;
	overflow-x: auto;

	.news_card {
		width: 350px;

		img {
			width: 350px;
		}
	}

	.text_content {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		button {
			width: 150px;
			height: 30px;
			box-shadow: 3px 3px 2px rgba(27, 27, 27, 0.445);
		}
	}
}
// FEATURE SLIDER END

// HEADER START
.select_bg {
	position: fixed;
	width: 75px;
	z-index: -1;
	right: 0%;
	background-color: $color7;
	transition: 0.1s;
}

.header_container {
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 9999;
	left: 0%;
	transition: 0.6s;

	.select {
		width: 35px;
		margin-top: 1rem;
		text-align: center;
		position: relative;
	}
	.inp_container {
		background: rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		input {
			background: rgba(255, 255, 255, 0.1);
			width: 220px;
			border-radius: 8px;
			&:focus {
				outline: none;
			}
		}
		.search_icon {
			position: absolute;
			right: 3%;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.secondHalf {
		select {
			color: #fff;
			option {
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
		.icons_container {
			img {
				width: 25px;
				height: auto;
			}
		}
	}

	.logo_container2 {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		img {
			height: 20px;
		}
	}
}

// STICKY START
.header_container.sticky {
	background-color: $color7;
}
// HEADER END

/* ==================== SideBAR STYLING END ======================== */
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: white;
	background-color: $color6;
	height: 400px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.2s;
	padding-left: 5rem;

	.logo {
		position: absolute;
		top: 3%;
		left: 3%;

		img {
			width: 120px;
		}
	}

	.secondHalf {
		select {
			color: #fff;
			option {
				color: #000;
			}
			&:focus {
				outline: none;
			}
		}
		.icons_container {
			img {
				width: 12px;
			}
		}
	}
}

.SideBarContainer ul {
	padding-left: 0rem;
}

.SideBarContainer ul li {
	position: relative;
	list-style: none;
	cursor: pointer;
	padding: 0.4rem 0rem;
	text-align: center;

	a {
		color: #fff;
		text-decoration: none;
		position: relative;
		padding-bottom: 5px;
	}
	.activeNav::after {
		content: "";
		position: absolute;
		left: 0%;
		bottom: 0%;
		height: 10%;
		width: 100%;
		background-color: #007bbc;
		border-radius: 5px;
	}
}

.CrossBTn {
	position: absolute;
	top: 8.2%;
	right: 5.5%;
	cursor: pointer;
}

.SideBarContainer.sticky {
	background-color: $color7;
}
/* ==================== SideBAR STYLING END ======================== */

// HERO START
.hero_container {
	position: absolute;
	bottom: 12%;
	left: 33.5%;
	transform: translate(-50%, -50%);

	h1 {
		font-size: 5.4rem;
	}
	.heroText2 {
		left: -20%;
		top: 6.5%;
		max-width: 120px;
	}

	.hero_btn {
		min-width: 195px;
		height: 30px;
		box-shadow: 3px 3px 2px rgba(27, 27, 27, 0.445);
	}
}

.hero_container.howHero {
	position: absolute;
	bottom: 30%;
	left: 45%;
	transform: translate(-50%, -50%);
}
// HERO END

// ABOUT US START
.about_container {
	background-color: $color4;
	width: 100%;
	height: 100%;
	padding: 5rem 0rem 3rem 0rem;
	margin-top: -6px;

	img {
		height: 15px;
		width: auto;
	}

	.asterik_up {
		width: 12px;
		margin-top: -6px;
		margin-left: 2px;
	}

	.asterik_up2 {
		width: 8px;
	}
}
// ABOUT US END

// HYBRID START
.hybrid_container {
	margin-top: -1px;
	background-color: $color4;
	padding: 5rem 0rem 3rem 0rem;
	width: 100%;
	height: 100%;

	.para {
		max-width: 920px;
	}

	.WHO_cont {
		margin-top: 5rem;
	}

	.arrowLeft {
		margin-left: 10rem;
		margin-top: -2.4rem;
	}
}
// HYBRID END

// FEATURE START
.feature_container {
	background: url(../assets/images/featureBg.svg);
	height: 100%;
	padding: 4rem 0rem 1rem 0rem;
}
// FEATURE END

// ABOUT FUN START
.its_all_container {
	margin-top: -6px;

	.its_all_abs {
		position: absolute;
		left: 45%;
		top: 50%;
		transform: translate(-50%, -50%);

		h1 {
			max-width: 250px;
		}
	}

	img {
		width: 100%;
	}
}
// ABOUT FUN END

// NEWS START
.news_container {
	margin-top: -8px;
	background-color: $color4;
	padding: 5rem 0rem 5rem 3rem;

	.logo {
		height: 15px;
		width: auto;
	}

	.newsSliderContainer {
		.news_card {
			// width: 200px;
			outline: -webkit-focus-ring-color none 1px;

			p {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			img.thumbnail {
				width: 100%;
				min-height: 250px;
				max-height: 250px;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
// NEWS END

// SCROLL TO TOP START
.scrollToTop {
	margin-top: 5rem;
}
// SCROLL TO TOP END

// PARTNER START
.partner_container {
	padding: 5rem 0rem 2rem 3rem;

	.partner {
		.partner_card {
			outline: -webkit-focus-ring-color none 1px;
			width: 200px;
			height: 200px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	h1 {
		margin-left: -3px;
	}

	.underText {
		margin-top: -1rem;
	}
}
// PARTNER END

// NEWSLETTER START
.newsletter_container {
	background: #231f2e;
	padding: 2rem 0rem;

	input {
		width: 280px;
		background: #4b4755;
		color: #fff;
		border-radius: 10px;
		border: none;
		height: 100;
		padding: 0.2rem 1rem;

		&::placeholder {
			color: #fff;
		}
	}

	button {
		background: $color5;
	}
}
// NEWSLETTER END

// WHO SLIDER START
.who_container {
	background: $color4;

	.who_inner {
		display: flex;
		flex-direction: row;
	}
}
.WHOSlide1,
.WHOSlide2,
.WHOSlide3,
.WHOSlide4 {
	height: 450px;
	width: 100%;
	transition: 0.8s;

	.icons {
		position: absolute;
		width: 100%;
		color: #fff;
		padding: 0.6rem;

		.icon2 {
			float: left;
		}
		.icon1 {
			float: right;
		}
	}

	.text_content {
		display: flex;
		justify-content: start;
		transition: 1.2s;
		align-items: center;
		transition: 0.6s;

		.inner_text {
			-webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s
				both;
			animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;
			max-width: 250px;
			transition: 0.6s;
			word-break: break-all;
		}

		.inner_text.two {
			display: none;
		}
	}

	.underlineAbout {
		transition: 0.8s;
		padding-bottom: 1rem;
	}

	@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
.WHO_detail {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;

	input {
		background: rgba(255, 255, 255, 0.2);
		border: none;
		width: 300px;
		height: 40px;
		border-radius: 10px;
		padding: 0rem 1rem;
		color: #fff;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #fff;
		}
	}

	button {
		background: #863bf8;
		color: #fff;
		padding: 0.5rem 0.8rem;
		border: none;
	}
}

.WHO_detail.mobile {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
	width: 100%;

	input {
		background: rgba(255, 255, 255, 0.2);
		border: none;
		width: 100%;
		height: 40px;
		border-radius: 10px;
		padding: 0rem 1rem;
		color: #fff;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: #fff;
		}
	}

	button {
		background: #863bf8;
		color: #fff;
		padding: 0.5rem 0.8rem;
		border: none;
	}
}

.WHOSlide1 {
	background: #541dec;
	.inner_text {
		padding-left: 2rem;
	}
}
.WHOSlide2 {
	background: #eb5565;
	.inner_text {
		padding-left: 2rem;
	}
}
.WHOSlide3 {
	background: #ebab54;
	.inner_text {
		padding-left: 2rem;
	}
}
.WHOSlide4 {
	background: #17bb6f;
	.inner_text {
		padding-left: 2rem;
	}
}

.min_slide {
	width: 100px;
	transition: 0.8s;
}

.WHOSlide1.min_slide,
.WHOSlide2.min_slide,
.WHOSlide3.min_slide,
.WHOSlide4.min_slide,
.WHOSlide5.min_slide {
	transition: 0.8s;

	.text_content {
		transform: rotate(-90deg);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		.inner_text {
			transition: 0.8s;
			display: none;
			align-items: center;
			justify-content: start;
			white-space: nowrap;

			&.firstS {
				margin-left: -25rem;
			}

			&.secondS {
				margin-left: -14.5rem;
			}

			&.fourthS {
				margin-left: -20.5rem;
			}

			&.thirdS {
				margin-left: -18rem;
			}

			.underlineAbout {
				transition: 0.8s;
				padding-bottom: 0rem;
			}

			h6 {
				transition: 0.8s;
				margin-right: 20px;
				margin-bottom: 0px;
			}
			h1 {
				transition: 0.8s;
				margin-bottom: 0px;
			}
		}

		.inner_text.two {
			display: flex;
			-webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s
				both;
			animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s both;

			h6 {
				font-size: 0.9rem;
			}
			h1 {
				font-size: 1.6rem;
			}
		}

		h1 {
			transition: 0.8s;
			font-size: 2rem;
		}
	}
}

.whoMobile {
	display: none;
}
// WHO SLIDER END

// FOOTER START
.footer_container {
	background: $color6;
	height: 150px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}
// FOOTER END

// HOW IT WORKS START
.hiw_body_container {
	margin-top: -6px;
	background: #5525eb;
	padding: 4rem 0rem;
}
// HOW IT WORKS END

// MEDIA QUERIES START
@media screen and (min-width: 1500px) {
	.page_container2 {
		max-width: 1130px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 1100px) {
	.hero_container h1 {
		font-size: 4.8rem;
	}
	.f50 {
		font-size: 3rem;
	}
	.SideBarContainer h2 {
		font-size: 1.8rem;
	}
}

@media screen and (max-width: 992px) {
	.hero_container h1 {
		font-size: 4.4rem;
	}
	.f50 {
		font-size: 2.8rem;
	}
	.SideBarContainer h2 {
		font-size: 1.4rem;
	}
	.its_all_container .its_all_abs h1 {
		font-size: 4rem;
	}
	.footer_container {
		padding: 3rem 0rem 3rem 0rem;
		height: auto;
	}
	.who_container .who_inner {
		display: none;
	}
	.whoMobile {
		display: block;

		.MuiPaper-root {
			color: #fff;
		}

		.MuiSvgIcon-root {
			color: #fff;
		}

		.MuiAccordionSummary-root {
			min-height: 60px;
		}

		.MuiAccordion-rounded {
			border-radius: 0px !important;
		}

		.MuiAccordion-root.Mui-expanded {
			margin: 0px;
		}
		.MuiAccordion-rounded:first-child {
			background: #541dec;
		}
		.MuiAccordion-rounded:nth-child(2) {
			background: #eb5565;
		}
		.MuiAccordion-rounded:nth-child(3) {
			background: #ebab54;
		}
		.MuiAccordion-rounded:nth-child(4) {
			background: #17bb6f;
		}
	}
}

@media screen and (max-width: 768px) {
	.SideBarContainer {
		padding-left: 0rem;
		height: 100vh;

		.sideMobile {
			.secondHalf {
				.icons_container {
					img {
						width: 36px;
					}
				}
			}
		}
	}
	.hero_container h1 {
		font-size: 4rem;
	}
	.f50 {
		font-size: 2.2rem;
	}
	.its_all_container .its_all_abs h1 {
		font-size: 3.5rem;
	}
	.newsletter_container {
		width: 100%;

		.inp_container {
			width: 100%;
		}
	}
	.newsletter_container input {
		width: 93%;
		height: 30px;
	}
	.footer_container .f14 {
		font-size: 1.1rem;
	}
	.footer_container button {
		font-size: 1.2rem;
	}
	.its_all_container {
		img {
			height: 450px;
			width: auto;
			object-position: center;
			object-fit: cover;
		}
	}
	.newsSliderContainer {
		.news_card {
			button {
				width: 100%;
				text-align: center;
			}
		}
	}
	.news_container {
		padding: 5rem 0rem 5rem 0.5rem;
	}
	.news_container .newsSliderContainer .news_card img.thumbnail {
		min-height: 160px;
		max-height: 160px;
	}
	.partner_container .partner .partner_card {
		width: auto;
		height: auto;
	}
	.scrollToTop {
		margin-top: 2rem;
	}
	.hero {
		video {
			height: 100vh;
			object-fit: cover;
		}
	}
	.hero_container {
		position: absolute;
		bottom: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.feature_container {
		background-image: none;
		background-color: $color1;
	}
	.hybrid_container {
		padding: 5rem 0rem 2rem 0rem;
	}
}

@media screen and (max-width: 575px) {
	.hero_container .hero_btn {
		// min-width: 185px;
		height: 35px;
	}
	.hero_container {
		button {
			font-size: 1.4rem;
			margin-bottom: 5rem;
			width: 150px;
			margin-left: -50px;
			font-weight: 600;
		}
	}
	.hero_container h1 {
		font-size: 4rem;
		display: none;
	}
	.f50 {
		font-size: 2.5rem;
	}
	.SideBarContainer {
		height: 100vh;
		padding-top: 2.5rem;
	}
	.SideBarContainer h2 {
		font-size: 2.2rem;
	}
	.header_container {
		height: 65px;
	}
	.feature_container {
		button {
			font-size: 1.5rem;
		}
	}
	.its_all_container .its_all_abs h1 {
		font-size: 3rem;
	}
	.partner_container {
		padding: 5rem 0rem 3rem 0rem;
	}
	.newsletter_container {
		p {
			font-size: 1.5rem;
		}
	}
}
// MEDIA QUERIES END
